target/

.idea/
*.iml
*.ipr
*.iws

.vscode/

.env
.env

logs/
*.log

.DS_Store
Thumbs.db

out/
build/

*.class
*.jar
*.war
*.ear

.mvn/wrapper/maven-wrapper.jar

dependency-reduced-pom.xml

hs_err_pid*
replay_pid*

.gradle/

bin/

*.swp
*.swo

node_modules/

consumer/target/
producer/target/
shared/target/
